@CHARSET "UTF-8";

.grandparent {
  position:relative;
}

.stationTable {
  position:absolute;
  left:150px;
}

.addStationButton {
  position:absolute;
  left:65%;
}

.setAlarmButton {
    position:relative;
    left:-20px;
}

.stopButton {
    position:relative;
    left:-20px;
}

h2 {
font-family: 'Reenie Beanie', arial, serif;
font-size: 48px;
}

input.radio {
        display: inline;
}
 
input.text { 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    background-color: #EAEAEA; 
    background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
    border: 1px solid #CACACA; 
    color: #444; 
    font-size: 1.4em; 
    margin: 0 0 25px; 
    padding: 5px 9px; 
    width:300px; 
} 

input.text:focus { 
     background: #FFF;
     -webkit-box-shadow: 0 0 25px #CCC; 
     -moz-box-shadow: 0 0 25px #ccc; 
     box-shadow: 0 0 25px #CCC; 
     -webkit-transform: scale(1.05); 
     -moz-transform: scale(1.05); 
     transform: scale(1.05); 
}  

h2 {
	margin: auto;
	text-align: center;
}

table.mine {
	margin: auto;
        border-collapse: collapse;
        border-style:groove;
        border-width:5px;
	text-align:left;
/*      border-collapse: separate; */
}

p { 
    font-family: 'Eagle Lake', cursive; 
    font-weight: 400; 
}

.rmButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:5px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 53px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.rmButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.rmButton:active {
	position:relative;
	top:1px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:5px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:8px 53px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.myButton:active {
	position:relative;
	top:1px;
}

.myGreenButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
        -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
        box-shadow:inset 0px 1px 0px 0px #d9fbbe;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
        background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
        background-color:#b8e356;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        border-radius:42px;
        border:5px solid #83c41a;
        display:inline-block;
        color:#000000;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:8px 53px;
        text-decoration:none;
        text-shadow:1px 1px 0px #86ae47;
}.myGreenButton:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
        background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
        background-color:#a5cc52;
}.myGreenButton:active {
        position:relative;
        top:1px;
}

.myGreenTimeshiftButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
    background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
    background-color:#b8e356;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:5px solid #83c41a;
    display:inline-block;
    color:#000000;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 25px;
    text-decoration:none;
    text-shadow:1px 1px 0px #86ae47;
}.myGreenTimeshiftButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
    background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
    background-color:#a5cc52;
}.myGreenTimeshiftButton:active {
    position:relative;
    top:1px;
}

.volumeButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
    background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
    background-color:#a53df6;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:5px solid #9c33ed;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:25px;
    font-weight:bold;
    padding:8px 53px;
    text-decoration:none;
    text-shadow:1px 1px 0px #86ae47;
}
.volumeButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
    background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
    background-color:#7c16cb;
}.volumeButton:active {
    position:relative;
    top:1px;
}

.myAlarmButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
    background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
    background-color:#b8e356;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:5px solid #83c41a;
    display:inline-block;
    color:#000000;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:8px 53px;
    text-decoration:none;
    text-shadow:1px 1px 0px #86ae47;
}.myAlarmButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
    background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
    background-color:#a5cc52;
}.myAlarmButton:active {
    position:relative;
    top:1px;
}
/* This button was generated using CSSButtonGenerator.com */